<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Prüfer Code</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
      <a class="navbar-brand" href="#">Prüfer Code</a>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#encode">Encode</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#decode">Decode</a>
        </li>
      </ul>
    </nav>

    <div class="wrapper">
      <div class="container">
        <div class="starter-template">
          <h1>Welcome to the Prüfer code encoder & decoder</h1>
          <p class="lead">Here you can either decode the sequence of numbers into a graph image or encode a graph<br>
            using a graphic interface. You will have to install <b>Python 3</b> with such libraries as <b>tkinter</b> and <b>pygraphviz</b> first.</p>
          <p class="lead">The Prüfer algorithm is a graph theoretical algorithm that generates a unique label, called the Prüfer sequence (or code),
            for a labeled tree with n vertices. The algorithm was introduced by Heinz Prüfer in 1918.<br>
            <br>
            The algorithm works as follows:<br>
            <br>
            1. Find the leaf node with the smallest label in the tree and remove it along with its incident edge.<br>
            2. Add the label of the node to the Prüfer sequence.<br>
            3. Repeat steps 1 and 2 until only two nodes remain in the tree.<br>
            At the end of the algorithm, the Prüfer sequence contains n-2 integers between 1 and n, which uniquely represent the labeled tree.<br>
            <br>
            The algorithm can be reversed to reconstruct the original tree from its Prüfer sequence.</p>  
          <img src="../static/img/graph.png" alt="graph image">
        </div>
      </div>

      <div id="encode" class="container">
        <div class="starter-template">
          <h2>Encode</h2>
          <p class="lead">Here you can get a sequence of numbers representing the Prüfer code for the given graph.</p>
        </div>
      </div>

      <div id="decode" class="container">
        <div class="starter-template">
          <h2>Decode</h2>
          <p class="lead">Here you can get an image of the graph matching given Prüfer code.</p>
          
          <div class="mb-3">
            <label for="decoder" class="form-label">Prüfer code</label>
            <input class="form-control" id="decoder" placeholder="1 4 5 5">
          </div>
          
          <h4>Example</h4>
          <p>With code being {1, 4, 5, 5}</p>
          <img src="../static/img/ademo.png" alt="decoded graph">
        </div>
      </div>
    </div>
  </body>    
</html> 
